body { background-color:rgb(16, 16, 100);}

    p {color:white;}
   
    #Likes{color:rgb(255, 127, 80);} 
   
    h1{color:rgb(255,165,0);}
    ul{color:rgb(255,255,255);}
    h2{color:rgb(255,255,255);}
    h3{color:rgb(154,205,50);}
    