@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body { background-color:rgb(16, 16, 100);
margin: 0;
}
title { font:100;}
    p {color:white;}
   
    #Likes{color:rgb(255, 127, 80);} 

  
    ul{color:rgb(255,255,255);}
    h1{font-family: 'Anton', sans-serif;}
    h2{color:rgb(255,255,255);}
    h3{color:rgb(0, 255, 0);}
   
    img{
        display:block;
        width: 90%;
        min-width: 500px;
        margin:auto;
        
    }
    
    .nav_bar {
        background-color:rgb(47, 47, 230);
        display:block;
        overflow:hidden;
        }
        .nav_links{
            width:100%;
            overflow: hidden;
        }

        .nav_bar a {
          display:block;
          padding:10px 14px;
          text-align:center;
        text-decoration:none;
        color: rgb(255, 255, 255);
        float: left;
        }

        .nav_links a:hover{
            background-color:rgb(85, 15, 199);
            color: rgb(255, 255, 255);
            transition:.25s;

        }
        .active{
            background-color:rgb(99, 99, 233);
        }


      
            .title_bar{ background-color:rgb(10, 138, 138);
            margin: auto;
           padding: 0.8% 0;
           text-align: center;
           color: rgb(255,255,255);
           font: 15px times new roman;
            }      
            .row {
                display:flex;
            }
           .col40 {
               flex:4;
               padding: 0 20px;
               margin: auto;
           }
           .col50 {
            flex:5;
            padding: 0 20px;
            margin: auto;
        }
        .col60 {
            flex:6;
            padding: 0 20px;
            margin: auto;
        }
        .col100 {
            flex:100;
            padding: 0 20px;
            margin: auto;
        }
       
      